html, body {
	font-family: 'Trebuchet MS', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #666666;
	color: white;
}

#title {
	font-size: 20px;
	text-align: center;
}

#content {
	width: 250px;
	height: 400px;
}

#middle {
	width: 100%;
	height: 100%;
	background-color: #444444;
}

#buttons {
	display: flex;
	justify-content: center;
	background-color: #555555;
}

.actionbutton {
	font-size: 14px;
	color: white;
	background-color: #444444;
	border: none;
	margin: 4px;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

.actionbutton:hover {
	background-color: black;
}

#passwords {
	display: contents;
	overflow-y: scroll;
	padding: 4px;
}

#passwords > .passworditem {
	width: auto;
	height: 30px;
	margin: 4px;
	background-color: #555577;
	display: flex;
	justify-content: center;
}

#passwords > .passworditem:hover {
	background-color: #444455;
}

#passwords > .selected {
	background-color: #775555;
}
#passwords > .selected:hover {
	background-color: #554444;
}

.passworditem > p {
	font-family: monospace;
	font-size: 12px;
	margin: auto;
}

.flex-2 {
	flex: 2;
}
.flex-1 {
	flex: 1;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: red;
	width: 200px;
	height: auto;
	padding: none;
	margin: none;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 4px solid #444455;
	background-color: #555577;
	border-radius: 8px;
}

.hidden {
	position: absolute;
	top: 150% !important;
	transform: translate(-50%, 0%);
}

.popup-input-align {
	margin: 3px;
	width: fit-content;
	height: 12px;
	font-size: 12px;
}
input.popup-input-align {
	border: none;
	width: auto;
}
.popup-input-align-submit {
	width: 70%;
	align-self: center;
	border: none;
	font-size: 12px;
	border-radius: 8px;
}
.form > p {
	text-align: center;
	margin: 4px;
}
.form > .close {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 4px;
	color: #444455;
	font-weight: bold;
}